.text-center{
    padding-top: 30px;
    text-align: center;
   color: black;
  
    text-decoration-thickness: 2px;
}
.bg-red{
    background: red;
}
.items-center{
    align-items: center;
}
.mx-auto{
    margin: auto;
}
.flex{
    background:rgb(116, 126, 132);
    display: flex;
    width: 350px;
    padding: 20px 0px;
    border-radius: 30px;
    

}
.flex-col{
    flex-direction: column;
}